.cursor-hover{
    cursor:url("../assets/imgs/butterfly-over.png") 20 20, default;
}
.cursor-hover:active{
    cursor:url("../assets/imgs/butterfly-click.png") 20 20, default;
}
.cursor{
    cursor:url("../assets/imgs/butterfly-mouse.png") 20 20, default;
}
.cursor:active{
    cursor:url("../assets/imgs/butterfly-click.png") 20 20, default;
}
.hover-element:hover{
    border: 4px solid white;
    border-radius:12px;
}
.hover-knob:hover{
    border: 4px solid #bcbbff;
    border-radius:30vh;
}
.test {
    background-color: purple;
}
@font-face {
    font-family: 'Grand_Aventure';
    src: local('Grand_Aventure'), url("../assets/fonts/Grand_Aventure.otf") format('opentype');
  }
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url("../assets/fonts/Helvetica.ttf") format('truetype');
}
@font-face {
    font-family: 'Typewriter';
    src: local('Typewriter'), url("../assets/fonts/Typewriter.otf") format('opentype');
}